body {
    background-color: var(--grey-1);
    margin: 0;
    padding: 1px 0;
}

hr {
    border: 1px solid var(--blue-1);
    opacity: .5;
}
img {
    max-width: 100%;
}

*:not(i) {
    font-family: 'Gilroy';
    font-weight: 500;
    letter-spacing: .45px;
    color: var(--blue-4);
}

.small-title {
    font-size: 12px;
}
.normal-title {
    font-size: 29px;
}
.medium-title {
    font-size: 42px;
}
.big-title {
    font-size: 75px;
}

.border-top-gray{
    border-top: #e0e0e0 2px solid;
}

.border-top-green{
    border-top: #02be6f 2px solid;
}

.border-top-yellow{
    border-top: #f8bd00 2px solid;
}

.bordered-title {
    color: var(--blue-9);
    border: 1px solid var(--blue-1);
    padding: 10px 30px;
    letter-spacing: 2px;
    margin: 0px;
}

.letter-045 {
    letter-spacing: .45px;
}
.width-1080 {
    width: 1080px;
}

.block {
    display: block;
}
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.bg-blue-1 {
    background-color: var(--blue-1);
}
.bg-blue-4 {
    background-color: var(--blue-4);
}
.bg-blue-9 {
    background-color: var(--blue-9);
}
.bg-grey-1 {
    background-color: var(--grey-1);
}
.bg-grey-3 {
    background-color: var(--grey-3);
}
.bg-white {
    background: #fff;
}
.bg-blue {
    background: #426DA9;
}
.bg-grid {
    background-image: url("/assets/images/general/aberturasecao_bg.png");
}

.text-blue-1 {
    color: var(--blue-1);
}
.text-blue-4 {
    color: var(--blue-4);
}
.text-blue-9 {
    color: var(--blue-9);
}
.text-grey-1 {
    color: var(--grey-1);
}
.text-grey-3 {
    color: var(--grey-3);
}
.text-white {
    color: #fff;
}
.text-green {
    color: #315D31;
}


.gilroy-regular {
    font-family: "Gilroy";
    font-weight: normal;
}
.gilroy-medium {
    font-family: "Gilroy";
    font-weight: 500;
}
.gilroy-bold {
    font-family: "Gilroy";
    font-weight: bold;
}

.argent-cf-regular {
    font-family: "ArgentCF";
    font-weight: normal;
}
.argent-cf-bold {
    font-family: "ArgentCF";
    font-weight: bold;
}

.argent-cf-bold-italic {
    font-family: "ArgentCF";
    font-weight: 600;
    font-style: italic;
}

.text-left {
    text-align: left !important;
}
.text-center {
    text-align: center !important;
}
.text-right {
    text-align: right !important;
}
.text-upper {
    text-transform: uppercase;
}



.row {
    flex-direction: row;
}

.align-start {
    align-items: flex-start;
}
.align-center {
    align-items: center;
}
.align-end {
    align-items: flex-end;
}
.align-stretch {
    align-items: stretch;
}


.space-center {
    justify-content: center;
}
.space-evenly {
    justify-content: space-evenly;
}
.space-around {
    justify-content: space-around;
}
.space-between {
    justify-content: space-between;
}


.col-1 { width: 8.34%;}
.col-2 { width: 16.67%;}
.col-3 { width: 25%;}
.col-4 { width: 33.34%;}
.col-5 { width: 41.67%;}
.col-6 { width: 50%;}
.col-7 { width: 58.34%;}
.col-8 { width: 66.67%;}
.col-9 { width: 75%;}
.col-10 { width: 83.33%;}
.col-11 { width: 91.67%;}
.col-12 { width: 100%;}


.line-art {
    background-image: url("/assets/images/general/aberturasecao_sep.png");
    width: 96px;
    height: 11px;
    background-repeat: no-repeat;
}

.table-1 {
    border-collapse: collapse;
    width: 100%;
}
.table-1 thead th {
    background: var(--blue-9);
    color: white;
    padding: 25px;
    text-align: left;
}
.table-1 thead tr th:first-child {
    text-align: center;
}
.table-1 tbody td {
    box-sizing: border-box;
    border-top: 2px solid #DEDEDE;
    border-left: 2px solid #DEDEDE;
    padding: 25px;
    vertical-align: baseline;
}
.table-1 tbody tr td:first-child {
    border-left: none;
    text-align: center;
}

.table-1 tbody tr:first-child td {
    border-top: none;
}

.style-guide header {
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 1px;
}
.style-guide ul span { 
    margin-bottom: 4px;
    display: block;
}
.style-guide ul {
    font-size: 11px;
}

.position-relative {
    position: relative;
}
.img-top {
    position: absolute;
    top: 0;
    left: 0;
}


.m-none { margin: var(--size-none); }
.mx-none { margin-left: var(--size-none); margin-right: var(--size-none); }
.my-none { margin-top: var(--size-none); margin-bottom: var(--size-none); }
.mt-none { margin-top: var(--size-none); }
.mr-none { margin-right: var(--size-none); }
.mb-none { margin-bottom: var(--size-none); }
.ml-none { margin-left: var(--size-none); }
.p-none { padding: var(--size-none); }
.px-none { padding-left: var(--size-none); padding-right: var(--size-none); }
.py-none { padding-top: var(--size-none); padding-bottom: var(--size-none); }
.pt-none { padding-top: var(--size-none); }
.pr-none { padding-right: var(--size-none); }
.pb-none { padding-bottom: var(--size-none); }
.pl-none { padding-left: var(--size-none); }

.gap-xs { gap: 4px; }
.gap-sm { gap: 8px; }
.gap-md { gap: 12px; }
.gap-lg { gap: 24px; }
.gap-xl { gap: 32px; }



.m-14 { margin: 14px; }
.mx-14 { margin-left: 14px; margin-right: 14px; }
.my-14 { margin-top: 14px; margin-bottom: 14px; }
.mt-14 { margin-top: 14px; }
.mr-14 { margin-right: 14px; }
.mb-14 { margin-bottom: 14px; }
.ml-14 { margin-left: 14px; }
.p-14 { padding: 14px; }
.px-14 { padding-left: 14px; padding-right: 14px; }
.py-14 { padding-top: 14px; padding-bottom: 14px; }
.pt-14 { padding-top: 14px; }
.pr-14 { padding-right: 14px; }
.pb-14 { padding-bottom: 14px; }
.pl-14 { padding-left: 14px; }

.m-1 { margin: var(--size-1); }
.mx-1 { margin-left: var(--size-1); margin-right: var(--size-1); }
.my-1 { margin-top: var(--size-1); margin-bottom: var(--size-1); }
.mt-1 { margin-top: var(--size-1); }
.mr-1 { margin-right: var(--size-1); }
.mb-1 { margin-bottom: var(--size-1); }
.ml-1 { margin-left: var(--size-1); }
.p-1 { padding: var(--size-1); }
.px-1 { padding-left: var(--size-1); padding-right: var(--size-1); }
.py-1 { padding-top: var(--size-1); padding-bottom: var(--size-1); }
.pt-1 { padding-top: var(--size-1); }
.pr-1 { padding-right: var(--size-1); }
.pb-1 { padding-bottom: var(--size-1); }
.pl-1 { padding-left: var(--size-1); }

.m-2 { margin: var(--size-2); }
.mx-2 { margin-left: var(--size-2); margin-right: var(--size-2); }
.my-2 { margin-top: var(--size-2); margin-bottom: var(--size-2); }
.mt-2 { margin-top: var(--size-2); }
.mr-2 { margin-right: var(--size-2); }
.mb-2 { margin-bottom: var(--size-2); }
.ml-2 { margin-left: var(--size-2); }
.p-2 { padding: var(--size-2); }
.px-2 { padding-left: var(--size-2); padding-right: var(--size-2); }
.py-2 { padding-top: var(--size-2); padding-bottom: var(--size-2); }
.pt-2 { padding-top: var(--size-2); }
.pr-2 { padding-right: var(--size-2); }
.pb-2 { padding-bottom: var(--size-2); }
.pl-2 { padding-left: var(--size-2); }

.m-3 { margin: var(--size-3); }
.mx-3 { margin-left: var(--size-3); margin-right: var(--size-3); }
.my-3 { margin-top: var(--size-3); margin-bottom: var(--size-3); }
.mt-3 { margin-top: var(--size-3); }
.mr-3 { margin-right: var(--size-3); }
.mb-3 { margin-bottom: var(--size-3); }
.ml-3 { margin-left: var(--size-3); }
.p-3 { padding: var(--size-3); }
.px-3 { padding-left: var(--size-3); padding-right: var(--size-3); }
.py-3 { padding-top: var(--size-3); padding-bottom: var(--size-3); }
.pt-3 { padding-top: var(--size-3); }
.pr-3 { padding-right: var(--size-3); }
.pb-3 { padding-bottom: var(--size-3); }
.pl-3 { padding-left: var(--size-3); }

.m-4 { margin: var(--size-4); }
.mx-4 { margin-left: var(--size-4); margin-right: var(--size-4); }
.my-4 { margin-top: var(--size-4); margin-bottom: var(--size-4); }
.mt-4 { margin-top: var(--size-4); }
.mr-4 { margin-right: var(--size-4); }
.mb-4 { margin-bottom: var(--size-4); }
.ml-4 { margin-left: var(--size-4); }
.p-4 { padding: var(--size-4); }
.px-4 { padding-left: var(--size-4); padding-right: var(--size-4); }
.py-4 { padding-top: var(--size-4); padding-bottom: var(--size-4); }
.pt-4 { padding-top: var(--size-4); }
.pr-4 { padding-right: var(--size-4); }
.pb-4 { padding-bottom: var(--size-4); }
.pl-4 { padding-left: var(--size-4); }