.cnt-items * {
    text-decoration: none;
}

#open_menu:checked + .cnt-items {
    height: 100vh;
}

.cnt-items {
    height: 0px;
    background-color: #071636;
    overflow: hidden;
    position: relative;
}
.main-menu {
    width: 391px;
    position: fixed;
    z-index: 10;
    right: 15px; 
    top: 0px;
}
.btn-open-menu {
    position: absolute;
    top: -35px;
    right: 4px;
    cursor: pointer;
    background-color: var(--blue-9);
    border-radius: 76px;
}


.cnt-items-menu {
    height: 100vh;
    overflow: auto;
}

.cnt-items-menu::-webkit-scrollbar {
    width: 4px;    
}
.cnt-items-menu::-webkit-scrollbar-track {
    background: #152852;    
}
.cnt-items-menu::-webkit-scrollbar-thumb {
    background: #0637A3;   
}
.cnt-items-menu::-webkit-scrollbar-thumb:hover {
    background: #0637A3;   
}