:root {
    --blue-1: #B1C3D5;
    --blue-4: #414F60;
    --blue-9: #152852; 
    
    --grey-0: #F8F9FA;
    --grey-1: #F2F4F5;
    --grey-2: #A0A1AF;
    --grey-3: #7F878E;

    --size-none: 0px;
    --size-1: 25px;
    --size-2: 50px;
    --size-3: 75px;
    --size-4: 100px;
}